[Unit]
Description=athena devrun
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-abnormal
User=vas
Group=vas
WorkingDirectory=/home/vas/Projects/athena
ExecStart=systemd-nspawn -M focal --chdir /home/vas/Projects/athena /home/vas/Projects/athena/devrun.sh
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
