[Unit]
Description=athena devrun
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-abnormal
WorkingDirectory=/home/vas/Projects/athena
ExecStart=/home/vas/Projects/athena/devrun.sh
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
