[Unit]
Description=iot npm watch
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-abnormal
User=dev
Group=dev
WorkingDirectory=/home/dev/code/iotwebserver
ExecStart=/usr/bin/npm run watch
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
