[Unit]
Description=iot laravel serve
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-abnormal
User=dev
Group=dev
WorkingDirectory=/home/dev/code/iotwebserver
ExecStart=/usr/bin/php artisan serve --host=0.0.0.0
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
