[Unit]
Description=Activate redshift on 19:00 or later

[Timer]
OnCalendar=*-*-* 19:00:00
Persistent=true
Unit=redshift_on.service

[Install]
WantedBy=multi-user.target