[Unit]
Description=rclone - rsync for cloud storage
Documentation=https://rclone.org/docs/
After=network-online.target
Wants=network-online.target

[Service]
Restart=on-abnormal
User=vas
Group=vas
ExecStart=/usr/local/bin/rclone serve webdav --addr '0.0.0.0:8080' /home/vas
KillMode=mixed
KillSignal=SIGTERM
TimeoutStopSec=5s

[Install]
WantedBy=multi-user.target
